.wrapper {
	padding: 0px 100px;
	background-color: #96b566;
}

nav li {
	list-style: none;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;	
	font-size: 16pt;
	color: white;
	padding: 10px 35px;
	float: left;
	text-align: center;
	transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
}

.container {
	overflow: hidden;
}


nav i.fa {
	color: #557e26;
	transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
}


nav li:hover i.fa {
	color: #315409;
	position: relative;
}

nav li:hover {
	color: #557e26;
	position: relative;
}

nav ul {
	margin: 0;
}

.image {
	float:left;
	padding: 0 0 0 100px;
}

.nav {
	float:right;
}

.fullscreen-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    display: block;
    height: 400px;
    position: relative;
    text-align: center;
}

.fullscreen-b-g__video {
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 3;
    color: red;
    font-size: 100pt;
    float: left;
    height: 200px;
    margin-top: -100px;
}

h5 {
	margin: 0;
	font-size: 60pt;
	color: white;
	font-family: 'Fjalla One', sans-serif;	
}

.banner {
}

#callouts {
	text-align: justify;
	padding: 0 0 50px 0;
}

a.#callouts:hover {
	display: none;
}

#callouts p {
	padding: 0 25px;
	font-family: 'Muli', sans-serif;
}

#callouts img {
	width: 150px;
	display: block;
	margin: 25px auto;
	transition: all .2s ease-in-out;
}

#callouts img:hover {
	transform: scale(1.1);
}

h3 {
	font-family: 'Fjalla One', sans-serif;	
	font-size: 24pt;
	text-align: center;
	color: #668e39;
}

#calloutsAbout img {
	width: 300px;
	display: block;
	margin: 25px auto;
	transition: all .2s ease-in-out;
}

#calloutsAbout img:hover {
	transform: scale(1.1);

}

.banners {
	height: 400px;
	background: url("../images/table.jpg");
	margin-bottom: 50px;
}

.banners img {
	width: 350px;
	padding: 25px 0;
}

.banners h5 {
	line-height: 400px;
}

#calloutsAbout p {
	font-family: 'Muli', sans-serif;
}

.growlist {
	text-align: center;
	list-style: none;
	padding: 0;
	font-family: 'Muli', sans-serif;

}

.topparagraph p {
	font-family: 'Muli', sans-serif;
	padding: 0px 200px;
}

h6 {
	font-family: 'Muli', sans-serif;
	font-style: italic;
	font-size: 22pt;
	color: gray;
	padding: 20px 0 0 0;
}

.banners2 {
	height: 400px;
	background: url("../images/microgreensimage.jpg");
	margin-bottom: 50px;
}

h4 {
	margin: 0;
	font-size: 60pt;
	color: white;
	font-family: 'Fjalla One', sans-serif;	
	text-align: center;
	line-height: 400px;
}

.banners3 {
	height: 400px;
	background: url("../images/spoons.jpg");
	margin-bottom: 50px;
}

.contactwrapper i {
	font-size: 50pt;
	padding: 0 50px 0 0;
	color: #668e39;

}

.banners4 {
	height: 400px;
	background: url("../images/why.jpg");
	margin-bottom: 50px;
}

a.mylink {
	color: yellow;
	text-decoration: none;
	list-style: none;
	font-family: 'Fjalla One', sans-serif;	
	font-size: 16pt;
	color: white;
	padding: 10px 10px;
	float: left;
	text-align: center;
	transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
   line-height: 50px;
}

a.mylink:hover {
	color: #557e26;
	position: relative;
}


@media (max-width: 480px) {

 	.nav {
 		width: 100%;
 		height: 20%;
 	}

 	 .nav ul li {
		padding: 0;
		text-align: center;
 	}

 	.nav ul {
 		padding: 1px 1px;
 		width: 200px;
 		text-align: center;
 	}

 	a.mylink {
 		font-size: 18pt;
 		line-height: 40px;
 		text-align: center;
 		padding: 0 50px;

 	}


 	video {
 		display: none;
 	}

 	.fullscreen-bg {
 		background-image: url("../images/vidbg_still.jpg")
	 }

	.overlay h5 {
	 	font-size: 40pt;
	 	padding: 40px 0;
	 	 }

	 .image {
	 	padding: 0 0;
		width: 410px;
	 }

	 .container2 h5 {
	 	display: none;
	 }

	 .topparagraph p {
	 	padding: 0 15px;
	 }

	 .banners4 h4 {
	 	font-size: 24pt;
	 }
}

@media (max-width: 810px) {
	 	.nav {
	 	float: left;
 	}

 	 .nav ul li {
		padding: 0;
		text-align: center;
		float: left;
 	}

 	.nav ul {
 		text-align: center;
 		float: left;
 	}

 	a.mylink {
 		font-size: 18pt;
 		line-height: 40px;
 		text-align: center;
 		padding: 0 25px;
 		float: left;

 	}


 	video {
 		display: none;
 	}

 	.fullscreen-bg {
 		background-image: url("../images/vidbg_still2.jpg")
	 }

	.overlay h5 {
	 	font-size: 40pt;
	 	padding: 40px 0;
	 	 }

	 .image {
	 	float: left;
	 	padding: 0;
	 }

	 .container2 h5 {
		font-size: 45pt;	 
	}

	 .topparagraph p {
	 	padding: 0 15px;
	 	text-align: center;	 }

	 .banners4 h4 {
	 	font-size: 50pt;
}



